<header class="main-header">
  <div class="top-bar theme-bg">
      <div class="container">
          <div class="row">
              <div class="col-xs-12">
                  <div class="d-flex justify-end">
                          <div class="left mr-auto">                                            
                              </div>
                      <div class="right l-height">
                          <ul class="clearfix d-inblock">
                              <li><a href="http://regaltheme.com/tf/multi/cultura/cultura/login.html">Login</a></li>
                              <li><a href="http://regaltheme.com/tf/multi/cultura/cultura/registration.html">Register</a></li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
          <!-- /.row -->
      </div>
      <!-- /.container -->
  </div>
  <div id="active-sticky" class="navgation-bar">
      <div class="container">
          <div class="row">
              <div class="col-xs-12">
                  <div class="d-flex justify-end">
                          <div class="left mr-auto">
                                  <div class="logo mr-auto">
                                      <a href="http://regaltheme.com/tf/multi/cultura/cultura/index.html"><img src="assets/images/logo.png" alt="Cultura"></a>
                                  </div> 
                              </div>
                      <!-- Static navbar -->
                      <nav class="mainmenu">
                          <div class="navbar-header">
                              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                                  <span class="icon-bar"></span>
                                  <span class="icon-bar"></span>
                                  <span class="icon-bar"></span>
                              </button>
                          </div>
                          <div id="navbar" class="navbar-collapse collapse no-padding">
                              <ul class="navbar-nav dropdown">
                                  <!--<li>
                                      <a href="javascript:viod(0)" class="dropdown-toggle" data-toggle="dropdown" title="Click Here">
                Home <i class="zmdi zmdi-chevron-down"></i>
              </a>
                                      <ul class="dropdown-menu">
                                          <li><a href="http://regaltheme.com/tf/multi/cultura/cultura/courses.html">About Us</a></li>
                                          <li><a href="http://regaltheme.com/tf/multi/cultura/cultura/courses-list-view.html">Alumni</a></li>
                                          <li><a href="http://regaltheme.com/tf/multi/cultura/cultura/course-details.html">Teachers</a></li>
                                      </ul>
                                  </li>-->
                                  <li><a routerLink="/home">Home</a></li>                                            
                                  <li><a routerLink="/home">Alumni</a></li>                                            
                                  <li><a routerLink="/home">Teachers</a></li>
                                  <li><a routerLink="/gallery">Gallery</a></li>                                            
                                  <li><a routerLink="/contact">Contact</a></li>
                              </ul>
                          </div>
                          <!--/.nav-collapse -->
                      </nav>                                
                  </div>
              </div>
          </div>
          <!-- /.row -->
      </div>
      <!-- /.container -->
  </div>
</header>