<!-- Slider Section Start -->
<section class="slider-area">
    <div id="mainslider" class="swiper-container-fade swiper-container-horizontal">
        <div class="swiper-wrapper">
            <div class="" data-swiper-slide-index="1" >
                <img src="assets/images/2.jpg" alt="Slider Image">
                <div class="slider-caption">
                    <div class="container">
                        <h2 class="white-color mb-5 hidden-xs rt-effect delay-1">Education</h2>
                        <h1 class="font-60 mb-20 rt-effect-height delay-2">Must Teach <span class="theme-color">Life</span></h1>
                        <p class="mb-25 hidden-xs hidden-sm rt-effect delay-3">On the other hand, we denounce with righteous indignation and dislike men who are so beguiled
                            <br> and demoralized by the charms of pleasure of the moment, </p>
                        <div class="rt-effect-btn rt-effect delay-4">
                            <a class="btn" href="javascript:viod(0)">Start a Course</a>
                        </div>
                    </div>
                    <!-- /.container -->
                </div>
            </div>
            <div class="single-item swiper-slide overlay dark-1 swiper-slide-duplicate-active" data-swiper-slide-index="0" style="">
                <img src="assets/images/1.jpg" alt="Slider Image">
                <div class="slider-caption">
                    <div class="container">
                        <h2 class="white-color mb-5 hidden-xs rt-effect delay-1">Study</h2>
                        <h1 class="font-60 mb-20 rt-effect-height delay-2">Make smarter <span class="theme-color">Career</span></h1>
                        <p class="mb-25 hidden-xs hidden-sm rt-effect delay-3">On the other hand, we denounce with righteous indignation and dislike men who are so beguiled
                            <br> and demoralized by the charms of pleasure of the moment, </p>
                        <div class="rt-effect-btn rt-effect delay-4">
                            <a class="btn" href="javascript:viod(0)">Start a Course</a>
                        </div>
                    </div>
                    <!-- /.container -->
                </div>
            </div>
            <!-- /.Item End -->
            <div class="single-item swiper-slide overlay dark-1 swiper-slide-prev swiper-slide-duplicate-next" data-swiper-slide-index="1" style="">
                <img src="assets/images/2.jpg" alt="Slider Image">
                <div class="slider-caption">
                    <div class="container">
                        <h2 class="white-color mb-5 hidden-xs rt-effect delay-1">Education</h2>
                        <h1 class="font-60 mb-20 rt-effect-height delay-2">Must Teach <span class="theme-color">Life</span></h1>
                        <p class="mb-25 hidden-xs hidden-sm rt-effect delay-3">On the other hand, we denounce with righteous indignation and dislike men who are so beguiled
                            <br> and demoralized by the charms of pleasure of the moment, </p>
                        <div class="rt-effect-btn rt-effect delay-4">
                            <a class="btn" href="javascript:viod(0)">Start a Course</a>
                        </div>
                    </div>
                    <!-- /.container -->
                </div>
            </div>
            <!-- /.Item End -->
            <div class="single-item swiper-slide overlay dark-1 swiper-slide-duplicate swiper-slide-active" data-swiper-slide-index="0" style="">
                <img src="assets/images/1.jpg" alt="Slider Image">
                <div class="slider-caption">
                    <div class="container">
                        <h2 class="white-color mb-5 hidden-xs rt-effect delay-1">Study</h2>
                        <h1 class="font-60 mb-20 rt-effect-height delay-2">Make smarter <span class="theme-color">Career</span></h1>
                        <p class="mb-25 hidden-xs hidden-sm rt-effect delay-3">On the other hand, we denounce with righteous indignation and dislike men who are so beguiled
                            <br> and demoralized by the charms of pleasure of the moment, </p>
                        <div class="rt-effect-btn rt-effect delay-4">
                            <a class="btn" href="javascript:viod(0)">Start a Course</a>
                        </div>
                    </div>
                    <!-- /.container -->
                </div>
            </div></div>
        <!-- Add Arrows -->
        <div class="swiper-next swiper-arrow"><i class="next zmdi zmdi-chevron-right"></i></div>
        <div class="swiper-prev swiper-arrow"><i class="prev zmdi zmdi-chevron-left"></i></div>
    </div>
</section>
<!-- Slider Section End -->
<!-- Fun Facts Start -->
<section class="service-box-area white-bg">
    <div class="container">
        <div class="tec-box percent-25 theme-bg pull-left">
            <div class="align-container">
                
                        <div class="counter-func text-center">
                                <img class="mb-25" src="assets/images/4.png" alt="Icon">
                                <h1><span class="counter color-1">1200</span></h1>
                                <h5 class="no-margin">Alumni Joined</h5>
                            </div>
                
            </div>                    
        </div>
        <!-- /.Box End -->
        <div class="tec-box percent-25 theme-bg pull-left">
            <div class="align-container">
                    <div class="counter-func text-center">
                            <img class="mb-25" src="assets/images/1(2).png" alt="Icon">
                            <h1><span class="counter color-1">75</span></h1>
                            <h5 class="no-margin">Teachers Joined</h5>
                        </div>
            </div>                    
        </div>
        <!-- /.Box End -->
        <div class="tec-box percent-25 theme-bg pull-left">
            <div class="align-container">
                    <div class="counter-func text-center">
                            <img class="mb-25" src="assets/images/2(2).png" alt="Icon">
                            <h1><span class="counter color-1">12</span></h1>
                            <h5 class="no-margin">Alumni Events</h5>
                        </div>
            </div>                    
        </div>
        <!-- /.Box End -->
        <div class="tec-box percent-25 theme-bg pull-left">
                <div class="align-container">
                        <div class="counter-func text-center">
                                <img class="mb-25" src="assets/images/3(2).png" alt="Icon">
                                <h1><span class="counter color-1">250</span></h1>
                                <h5 class="no-margin">News Published</h5>
                            </div>
                </div>                    
            </div>                   
        <!-- /.Box End -->
    </div>
    <!-- /.container -->
</section>
<!-- Fun Facts End -->
<!-- Widget Section Start -->
<section class="widget-area section-padding white-bg">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-4 mobi-mb-50">
                    <div class="widget-box">
                        <div class="widget-title mb-50 text-left">
                            <h4 class="mb-5">Upcoming <span class="theme-color">Events</span></h4>
                            <hr class="line" />
                        </div>
                        <div id="oneitem-event">
                            <div class="event-style2 event-widget">
                                <div class="thumb mb-25">
                                    <a href="event-details.html"><img src="assets/images/1.jpg" alt="Thumbnail Image" /></a>
                                    <div class="date">
                                            <h6 class="no-margin white-color">SAT</h6>
                                            <h4 class="mb-3 white-color">12</h4>
                                            <h6 class="no-margin white-color">jun</h6>
                                    </div>
                                </div>
                                <div class="event-content">
                                    <a href="event-details.html">
                                        <h4 class="text-capitalize">Workshop UI Design</h4>
                                    </a>
                                    <ul>
                                        <li><i class="zmdi zmdi-time"></i> 5.00 pm - 8.00 pm</li>
                                        <li><i class="zmdi zmdi-pin"></i> Melborn, Australia</li>
                                    </ul>
                                    <p>On the other hand, we denou with righteous indiation and dislmen who are so beguiled and.</p>
                                </div>
                            </div>
                            <div class="event-style2 event-widget">
                                    <div class="thumb mb-25">
                                        <a href="event-details.html"><img src="assets/images/1.jpg" alt="Thumbnail Image" /></a>
                                        <div class="date">
                                            <h6 class="no-margin white-color">SAT</h6>
                                            <h4 class="mb-3 white-color">12</h4>
                                            <h6 class="no-margin white-color">jun</h6>
                                        </div>
                                    </div>
                                    <div class="event-content">
                                        <a href="event-details.html">
                                            <h4 class="text-capitalize">Workshop UI Design</h4>
                                        </a>
                                        <ul>
                                            <li><i class="zmdi zmdi-time"></i> 5.00 pm - 8.00 pm</li>
                                            <li><i class="zmdi zmdi-pin"></i> Melborn, Australia</li>
                                        </ul>
                                        <p>On the other hand, we denou with righteous indiation and dislmen who are so beguiled and.</p>
                                    </div>
                                </div>
                        </div>
                    </div>
                    <!-- /.Widget Box End-->
                </div>
                <div class="col-xs-12 col-sm-4 mobi-mb-50">
                    <div class="widget-box plr-20">
                        <div class="widget-title mb-50 text-left">
                            <h4 class="mb-5">People <span class="theme-color">Say</span></h4>
                            <hr class="line" />
                        </div>
                        <div id="oneitem">
                            <div class="rt-member bg-color-2 text-center">
                                <img src="assets/images/t1.png" alt="Gary Black" />
                                <h4 class="theme-color mb-5">Dr. A.P.J. Abdul Kalaam</h4>
                                <h6 class="mb-15">Former President of India</h6>
                                <p>Dream isn't what you see in sleep, is the thing which doesn't let you sleep.</p>
                            </div>
                            <div class="rt-member bg-color-2 text-center">
                                <p>Dream isn't what you see in sleep, is the thing which doesn't let you sleep.</p>
                                <h4 class="theme-color mb-5">- Dr. A.P.J. Abdul Kalaam</h4>
                                <h6 class="mb-15">Former President of India</h6>                                        
                            </div>
                        </div>
                    </div>
                    <!-- /.Widget Box End-->
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="widget-box">
                        <div class="widget-title mb-50 text-left">
                            <h4 class="mb-5">Want to join <span class="theme-color">Alumni?</span></h4>
                            <hr class="line" />
                        </div>
                        <div class="learn-widget">
                            <div class="thumb mb-25">
                                <img src="assets/images/1.jpg" alt="Thumbnail Image" />
                            </div>
                            <p class="mb-20 pr-15">Join thousand of old students and become a member of Alumni.</p>
                            <a class="btn" href="course-details.html">Join Now</a>
                        </div>
                    </div>
                    <!-- /.Widget Box End-->
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
    <!-- Widget Section End -->
        <!-- Blog Section Start -->
<section class="blog-area section-padding white-bg">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <div class="section-title mb-70">
                    <h2 class="mb-5">Latest <span class="theme-color">News</span></h2>
                    <hr class="line" />
                </div>
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-xs-12 col-sm-4 mobi-mb-30">
                <div class="blog-post">
                    <div class="thumb text-center">
                        <a href="http://regaltheme.com/tf/multi/cultura/cultura/blog-details.html"><img src="assets/images/1(3).jpg" alt="Thumbnail Image"></a>
                    </div>
                    <div class="blog-content ptb-30 plr-35">
                        <div class="date-box clearfix mb-20">
                            <h4 class="theme-color pull-left no-margin">20 <span>jun</span></h4>
                            <div class="name-comment pl-15">
                                <h5 class=" mb-5"><span class="theme-color">By:</span> Mark Thomas</h5>
                                <h5 class="no-margin"><span class="theme-color">Comment:</span> 20</h5>
                            </div>
                        </div>
                        <a href="http://regaltheme.com/tf/multi/cultura/cultura/blog-details.html">
                            <h3 class="text-capitalize">All The Lorem Ipsum Rock</h3>
                        </a>
                        <p>There are many variations of ages oIpsum available, but the mrity ave suffered ation in some orm altime to.</p>
                    </div>
                </div>
            </div>
            <!-- /.Blog Post end -->
            <div class="col-xs-12 col-sm-4 mobi-mb-30">
                <div class="blog-post">
                    <div class="thumb text-center">
                        <a href="http://regaltheme.com/tf/multi/cultura/cultura/blog-details.html"><img src="assets/images/2(3).jpg" alt="Thumbnail Image"></a>
                    </div>
                    <div class="blog-content ptb-30 plr-35">
                        <div class="date-box clearfix mb-20">
                            <h4 class="theme-color pull-left no-margin">21 <span>jun</span></h4>
                            <div class="name-comment pl-15">
                                <h5 class=" mb-5"><span class="theme-color">By:</span> Mark Thomas</h5>
                                <h5 class="no-margin"><span class="theme-color">Comment:</span> 22</h5>
                            </div>
                        </div>
                        <a href="http://regaltheme.com/tf/multi/cultura/cultura/blog-details.html">
                            <h3 class="text-capitalize">The mrity ave suffered mity</h3>
                        </a>
                        <p>There are many variations of ages oIpsum available, but the mrity ave suffered ation in some orm altime to.</p>
                    </div>
                </div>
            </div>
            <!-- /.Blog Post end -->
            <div class="col-xs-12 col-sm-4">
                <div class="blog-post">
                    <div class="thumb text-center">
                        <a href="http://regaltheme.com/tf/multi/cultura/cultura/blog-details.html"><img src="assets/images/3(3).jpg" alt="Thumbnail Image"></a>
                    </div>
                    <div class="blog-content ptb-30 plr-35">
                        <div class="date-box clearfix mb-20">
                            <h4 class="theme-color pull-left no-margin">10 <span>jun</span></h4>
                            <div class="name-comment pl-15">
                                <h5 class=" mb-5"><span class="theme-color">By:</span> Mark Thomas</h5>
                                <h5 class="no-margin"><span class="theme-color">Comment:</span> 10</h5>
                            </div>
                        </div>
                        <a href="http://regaltheme.com/tf/multi/cultura/cultura/blog-details.html">
                            <h3 class="text-capitalize">Finibus Bonorum et Malum</h3>
                        </a>
                        <p>There are many variations of ages oIpsum available, but the mrity ave suffered ation in some orm altime to.</p>
                    </div>
                </div>
            </div>
            <!-- /.Blog Post end -->
        </div>
        <!-- /.row -->                
    </div>
    <!-- /.container -->
</section>
<!-- Blog Section End -->
<app-upcoming-events></app-upcoming-events>
<!-- Call To Action Start -->
<section class="cta-one gradient-1">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="cta-content theme-bg clearfix">
                    <div class="pull-left">
                        <h2 class="white-color">Become an Alumni member</h2>
                        <p>Join thousand of old students and become a member of Alumni</p>
                    </div>
                    <div class="pull-right pt-10">
                        <a class="btn black" href="http://regaltheme.com/tf/multi/cultura/cultura/index.html#">Join Now</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<!-- Call To Action End -->

