<div class="breadcrumbs-title bg-img-4 parallax overlay dark-5 blank-space">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="breadcrumbs-menu ptb-150">
                    <h1 class="l-height">Event Details</h1>
                    <ul class="clearfix">
                        <li><a href="index.html">Home</a> <i class="zmdi zmdi-chevron-right"></i></li>
                        <li>Event Details</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>
<!-- Breadcrumbs & Page Title End -->
<!-- Event Details Section Start -->
<section class="event-details section-padding white-bg">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 mobi-mb-50">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="single-event event-style2 mr-minus-30">
                            <div class="thumb mb-35">
                                <a href="events.html"><img src="assets/img/event/details/1.jpg" alt="Thumbnail Image" /></a>
                                <div class="date">
                                    <h2 class="mb-3">12</h2>
                                    <h5 class="no-margin">jun</h5>
                                </div>
                            </div>
                            <div class="event-content clearfix mb-45">
                                <div class="title pull-left">
                                    <h2 class="pull-left text-capitalize mb-10">Workshop UI Design</h2>
                                    <ul class="clear">
                                        <li><i class="zmdi zmdi-time"></i> 5.00 pm - 8.00 pm</li>
                                        <li><i class="zmdi zmdi-pin"></i> Road Number, Melborn, Australia</li>
                                    </ul>
                                </div>                                
                            </div>
                            <div class="event-countdown white-bg clearfix mb-60">
                                <div id="timer">
                                    <div id="days"></div>
                                    <div id="hours"></div>
                                    <div id="minutes"></div>
                                    <div id="seconds"></div>
                                </div>
                            </div>
                            <div class="des-title mb-25">
                                <h5 class="mb-5">Event description</h5>
                                <div class="horizontal-line">
                                    <hr class="top">
                                    <hr class="bottom">
                                </div>
                            </div>
                            <p class="mb-45">But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that areextremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of.</p>
                            <div class="des-title mb-25">
                                <h5 class="mb-5">Event content</h5>
                                <div class="horizontal-line">
                                    <hr class="top">
                                    <hr class="bottom">
                                </div>
                            </div>
                            <div class="requirement mb-50">
                                <ul>
                                    <li><span>01.</span> Aliquam accumsan diam ac est consectetur, id gravida magna facilisis.</li>
                                    <li><span>02.</span> Cras ut mi eu sem convallis vehicula sed fermentum mauris.</li>
                                    <li><span>03.</span> Curabitur eu arcu at neque laoreet facilisis eu scelerisque nunc.</li>
                                    <li><span>04.</span> Mauris accumsan mi a leo elementum, eget ullamcorper urna dapibus.</li>
                                    <li><span>05.</span> Cras non ligula euismod nunc gravida convallis hendrerit ut felis.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="sidebar white-bg">                    
                    <div class="widget mb-45">
                        <div class="widget-title mb-30">
                            <h5 class="mb-5">Upcoming Events</h5>
                            <div class="horizontal-line">
                                <hr class="top" />
                                <hr class="bottom" />
                            </div>
                        </div>
                        <div class="recent-post up-event">
                            <ul>
                                <li>
                                    <div class="thumb pull-left mr-20">
                                        <a href="blog-details.html">
                                            <img src="assets/img/blog/sidebar/2.jpg" alt="Event Thumb" />
                                        </a>
                                    </div>
                                    <div class="text">
                                        <h6>26 March</h6>
                                        <a href="blog-details.html"><h5 class="mb-5">Photo Effect Tutorials</h5></a>
                                        <p><i class="zmdi zmdi-time"></i> 8.00 pm - 9.00 pm</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="thumb pull-left mr-20">
                                        <a href="blog-details.html">
                                            <img src="assets/img/blog/sidebar/5.jpg" alt="Post Thumb" />
                                        </a>
                                    </div>
                                    <div class="text">
                                        <h6>18 March</h6>
                                        <a href="blog-details.html"><h5 class="mb-5">If you are going to use.</h5></a>
                                        <p><i class="zmdi zmdi-time"></i> 8.00 pm - 9.00 pm</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="thumb pull-left mr-20">
                                        <a href="blog-details.html">
                                            <img src="assets/img/blog/sidebar/1.jpg" alt="Post Thumb" />
                                        </a>
                                    </div>
                                    <div class="text">
                                        <h6>15 March</h6>
                                        <a href="blog-details.html"><h5 class="mb-5">Where can I get some</h5></a>
                                        <p><i class="zmdi zmdi-time"></i> 8.00 pm - 9.00 pm</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.Events Widget End -->                    
                </div>
            </div>
            <!-- /.Sidebar End -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<!-- Event Details Section End -->
